body{
    background-color: aquamarine;
    font-size: large;
}

p{
    font-size: x-large;
    text-align: center;    
}

h1{
    color: cornflowerblue;
    text-align: center;
    background-color: aliceblue;
}

.flex{
    display: flex;
    border: 2px, solid, black;
    justify-content: space-around;
}

h2{
    color: cornflowerblue;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    justify-content: space-around;
    width: 50%;
    height:auto;
}

#displayList{
    overflow: scroll; /*lägger till en scrollbar*/
    max-height: 600px;
    width: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: aquamarine;
}

#displayResult{
    width: 60%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: aquamarine;
}

@media screen and (max-width: 800px) {
    .flex{
        display: block;
    }
    #displayList{
        max-height: 600px;
        width: 40%;
    }
    
    #displayResult{
        width: 90%;
    }

}

